amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
asn1crypto==1.3.0
atomicwrites==1.3.0
attrs==19.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
bcrypt==3.1.7
billiard==3.3.0.23
blinker==1.4
boto3==1.12.25
botocore==1.15.25
CacheControl==0.12.6
cachetools==3.1.1
cat-client==2.5.19
celery==3.1.24
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.0.4
croniter==0.3.31
cryptography==2.8
decorator==4.4.2
Django==1.6.11
django-celery==3.1.17
django-cors-headers==1.1.0
django-log-request-id==1.4.1
django-redis-cache==2.1.0
DjangoUeditor==1.8.143
docopt==0.6.2
docutils==0.15.2
email==4.0.2
enum34==1.1.10
firebase-admin==3.2.1
Flask==1.1.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
garena-common==1.0.50
gevent==1.2.2
gevent-fastcgi==1.1.0.0
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.11.3
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-firestore==1.6.2
google-cloud-storage==1.26.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
greenlet==0.4.15
grpcio==1.27.2
gunicorn==19.7.1
gunicorn-shopee==19.8.1.post18
httplib2==0.17.0
idna==2.7
importlib-metadata==1.5.0
IP2Location==8.4.1
ipaddress==1.0.23
ipython==5.9.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaeger-client==4.1.0
Jinja2==2.11.1
jmespath==0.9.5
jsonschema==3.2.0
kafka-python==0.9.5
kazoo==2.7.0
kombu==3.0.37
lxml==4.5.0
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==5.0.0
msgpack==1.0.0
MySQL-python==1.2.5
ndg-httpsclient==0.5.1
opentracing==2.3.0
opentracing-instrumentation==3.2.0
orm-document==0.0.7
paramiko==2.7.1
pathlib2==2.3.5
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.11.3
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyBarcode==0.7
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pyffx==0.2.0
pygeoip==0.3.2
Pygments==2.5.2
PyJWT==1.7.1
pymemcache==3.0.0
PyMySQL==0.9.3
PyMySQL-logistics==0.1.1
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyrabbit==1.1.0
pyrasite==2.0
pyrsistent==0.15.7
pysftp==0.2.8
PySocks==1.7.1
pytest==4.0.2
pytest-cov==2.5.1
pytest-mock==1.6.0
pytest-watch==4.1.0
python-baseconv==1.2.1
python-dateutil==2.8.1
python-memcached==1.59
python-stdnum==1.13
pytz==2019.3
qrcode==6.1
raven==6.10.0
redis==2.10.6
requests==2.23.0
requests-shopee==2.19.1.post0
requests-toolbelt==0.9.1
Requires==0.0.3
rsa==4.0
s3transfer==0.3.3
scandir==1.10.0
sea-django-mysqlpool==0.3.2
shopee-deploy-common==0.1.568
shopee-dynamic-cache==0.0.10
shopeelib==0.0.34
simplegeneric==0.8.1
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.14.0
SQLAlchemy==1.3.15
ssc-auth==1.0.7
terminaltables==3.1.0
threadloop==1.0.2
thrift==0.13.0
tornado==4.1
traitlets==4.3.3
transitions==0.7.2
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.23
watchdog==0.10.2
wcwidth==0.1.9
Werkzeug==1.0.0
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zipp==1.2.0
zope.interface==5.0.0
